header {
  text-align: center;
  font-size: 100px;
  border: 10px solid;
  background-color: green;
}

div {
   background-color: lightgrey;
    width: 300px;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;
  }

img {

  width: 300px;
  height: 200px;
}
img:hover {

box-shadow:
1px 1px #53a7ea,

-webkit-transform: translateX(-3px);
        transform: translateX(-3px);
}
#product {
  float:left;
}
#aboutCookies {
  float: right;
}
#family {
  float: right;

}


