header {
  text-align: center;
  font-size: 100px;
  border: 10px solid;
  background-color: green;
}

div {
   background-color: lightgrey;
    width: 300px;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;
  }

img {
  width: 300px;
  height: 200px;
}




